.contentPage {
    padding: 20px;
    max-width: 800px;
    width: 100%;
    box-sizing: border-box;
    overflow-wrap: break-word;
}

.meta {
    line-height: 1.5;
    color: var(--text-dim);
}

pre {
    overflow-x: auto;
    white-space: pre;
}

.buzzword-experience {
    color: var(--text-dim);
    font-size: 0.85em;
}

.buzzword-experience a {
    background: none;
    color: var(--text-dim);
}
